.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;

  width: fit-content;
  margin: 0;

  color: $color-default-white;

  &--h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;    
  }
}