*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  font-family: $ff-lato;
  font-size: $fs-default;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;

  color: $color-default-black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background-color: $color-default-white;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;

  color: $color-default-white;
}


.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}